@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poiret+One&display=swap");

:root {
  --ff-logo: "Poiret One", cursive;
  --ff-prm: "Montserrat", sans-serif;

  --bg-color: hsl(218, 18%, 16%);
  --bg-color-light: hsl(217, 10%, 25%);
  --bg-color-accent: hsl(42, 100%, 71%);
  --text-color: hsl(0, 0%, 93%);

  --fs-classification: 0.8em;
  --fs-p: 1em;
  --fs-h1: 1.5em;
  --fs-h2: 1.2em;
  --fs-h3: 1.13em;
  --fs-logo: 2.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-prm);
}

header {
  background-color: var(--bg-color-accent);
}

nav {
  max-height: 150px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-heading {
  font-family: var(--ff-logo);
  text-transform: uppercase;
  margin-right: 50px;
  font-size: var(--fs-logo);
}

nav a {
  text-decoration: none;
  padding: 0 30px;
  color: var(--bg-color-light);
  font-size: var(--fs-h1);
}

.home-container {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}

.home-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-hero-section img {
  width: 100%;
}

.home-tab {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 20px 0;
}

.home-tab a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 30px;
}

.home-popular {
  margin: 0 30px;
}

.selected {
  background-color: var(--bg-color-accent);
  color: var(--bg-color-light);
  border-radius: 10px;
}

.home-poster-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  padding: 30px 0;
}

.home-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-color-light);
  color: var(--text-color);
  padding: 10px;
  margin: 0 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease-in-out;
}

.home-card:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.home-movie-poster img {
  width: 100%;
}

.home-movie-title {
  padding: 10px 0;
  font-size: var(--fs-h2);
}

.home-classification {
  background-color: var(--bg-color-accent);
  margin-bottom: 20px;
  padding: 5px;
  font-size: var(--fs-classification);
  border-radius: 5px;
  color: var(--bg-color);
}

.home-duration {
  padding: 20px 0;
}

.home-buy-ticket {
  font-family: var(--ff-prm);
  font-size: var(--fs-h3);
  color: var(--bg-color);
  padding: 5px 10px;
  background-color: var(--bg-color-accent);
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

/* ===================================
Shows Information
=================================== */
.shows-container {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}

.shows-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 20px;
}

.shows-left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.shows-back-button {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--bg-color-light);
  color: var(--text-color);
}

.shows-movie-title {
  padding: 20px 0;
  color: var(--text-color);
  font-size: var(--fs-logo);
}

.shows-buy-ticket {
  font-family: var(--ff-prm);
  font-size: var(--fs-h3);
  color: var(--bg-color);
  padding: 10px 20px;
  background-color: var(--bg-color-accent);
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.shows-details {
  padding: 20px 0;
}

.shows-details-heading {
  color: var(--bg-color-accent);
}

.shows-details-info {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--text-color);
}

.shows-details-info > p {
  padding: 3px 10px;
}

.synopsis-heading {
  color: var(--bg-color-accent);
}

.synopsis-text {
  padding: 10px;
  color: var(--text-color);
}

.language {
  grid-column: 1/3;
}

.trailer {
  padding: 20px 0;
}

.trailer-heading {
  color: var(--bg-color-accent);
}

.trailer video {
  padding: 10px 0;
  width: 80%;
}

.gallery-heading {
  color: var(--bg-color-accent);
}

.gallery-images {
  padding: 10px 0;
}

.gallery-images img {
  width: 250px;
  height: 150px;
  margin: 0 10px;
  object-fit: cover;
}

.gallery-images img:first-child {
  margin-left: 0;
}

.casts {
  padding: 20px 0;
}

.casts-heading {
  color: var(--bg-color-accent);
}

.casts-name {
  padding: 10px 0;
  color: var(--text-color);
}

.shows-right-panel img {
  width: 100%;
}
