body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #d8cf99;
}

header {
  background-color: #cca966;
  text-align: center;
}

#wrapper {
  background-color: #e2d1b2;
  width: 80%;
  margin: auto;
  min-width: 800px;
}

#leftcolumn {
  float: left;
  width: 150px;
}

#rightcolumn {
  margin-left: 155px;
  background-color: #f5f4dc;
  color: #584137;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #754e46;
  margin: 12px;
}

.content {
  padding: 5px 20px;
  color: #754e46;
}

h2 {
  color: #290106;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}

#floatleft {
  margin: 5px 40px;
  float: left;
}

.content p {
  padding: 20px 90px;
}

.description {
  list-style-image: url(coffeecup.png);
  list-style-position: inside;
}

footer {
  background-color: #d1b38e;
  font-size: 80%;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #745228;
}

/* Menu Page */
table {
  margin: auto;
  border: 1px solid #f5f5de;
  width: 500px;
  border-spacing: 1;
  color: #2d0406;
}

td {
  padding: 5px;
  border-style: none;
}

tr:nth-of-type(odd) {
  background-color: #d1b38f;
}

.coffee-name {
  padding: 20px 15px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.coffee-price {
  font-weight: bold;
}

label {
  display: flex;
}

.subtotal {
  display: flex;
}

.total {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#total-cost {
  margin-left: 10px;
}

#musicianphoto {
  padding: 20px;
}

#monthheader {
  text-align: left;
}

form {
  font-family: Arial, sans-serif;
  width: 350px;
  padding: 30px 10px;
}

form > label {
  float: left;
  clear: left;
  display: block;
  width: 100px;
  text-align: right;
  padding-right: 20px;
  margin-top: 2px;
}

input,
textarea {
  /* margin-top: 1px; */
  display: block;
}
