@import url(basic-design.css);

.ticket-container {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}

.ticket-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.ticket-steps {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--text-color);
}

.ticket-steps-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.ticket-step-number {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-accent);
  color: var(--bg-color);
  border-radius: 50%;
}

.ticket-seat-selection {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px 0;
}

.ticket-poster-container {
  margin-right: 20px;
}

.ticket-poster-container img {
  width: 100%;
}

.ticket-seat-selection-content {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.ticket-instruction {
  padding: 0 40px;
}

.ticket-seating-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ticket-seat {
  background-color: var(--text-color);
  height: 20px;
  width: 22px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.1s ease-in-out;
}

.ticket-seat-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-seat.occupied {
  background-color: hsla(0, 76%, 50%, 0.603);
}

.ticket-seat.selected {
  background-color: var(--bg-color-accent);
}

.ticket-seat.not-available {
  background-color: var(--bg-color-light);
}

.ticket-seat:nth-of-type(3) {
  margin-right: 18px;
}

.ticket-seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.ticket-seat:not(.occupied):not(.not-available):hover {
  cursor: pointer;
  scale: 1.2;
  background-color: var(--bg-color-accent);
}

.ticket-showcase .ticket-seat:not(.occupied):not(.not-available):hover {
  cursor: default;
  scale: 1;
}

.ticket-seat-number,
.ticket-seat-letter {
  display: block;
  height: 20px;
  width: 22px;
  margin: 3px;
  text-align: center;
}

.ticket-seat-number:nth-of-type(2) {
  margin-right: 18px;
}

.ticket-seat-number:nth-last-of-type(2) {
  margin-left: 18px;
}

.ticket-showcase {
  padding: 30px 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.ticket-showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.ticket-showcase li p {
  margin-left: 5px;
}

.ticket-seating-plan-container {
  padding: 20px 10px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.ticket-screen {
  background-color: var(--text-color);
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.ticket-seat-info {
  padding: 20px 0;
}

.ticket-details-box {
  margin: 10px 40px;
  padding: 20px;
  border: 1px solid var(--bg-color-accent);
}

.ticket-details-text {
  padding: 0 0 20px;
}

.ticket-underline {
  text-decoration: underline;
  color: var(--bg-color-accent);
  font-weight: bold;
}

.ticket-details {
  display: flex;
  flex-direction: column;
}

.ticket-details-first-row,
.ticket-details-second-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ticket-total {
  padding: 10px 40px;
}
