@import url(basic-design.css);

body {
  display: flex;
  flex-direction: column;
}

.my-bookings-login-container {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 15%;
  display: flex;
  color: var(--text-color);
  flex-direction: column;
}

.my-bookings-login-container h5 {
  padding: 20px 0px 10px 0px;
  font-size: large;
}

.my-bookings-login-container h4 {
  padding: 50px 0px 10px 0px;
  font-size: x-large;
}

.my-bookings-login-box {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid var(--bg-color-accent);
}

.my-bookings-login-text {
  width: 40%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.customer-email {
  margin-top: 30px;
}

.ticket-customer-info {
  padding: 10px 40px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px 0;
}

input[type="text"] {
  padding: 5px 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-color);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-family: inherit;
  font-size: inherit;
}

.login-button {
  width: 15%;
  border: none;
  outline: none;
  margin: 10px auto;
  font-family: var(--ff-prm);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--bg-color-accent);
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.login-button:hover {
  color: var(--text-color);
  background-color: #21325e;
}

footer {
  margin-top: auto;
}
