@import url(basic-design.css);

.showtimes-container {
  max-width: 95%;
  padding: 0 20px;
  margin: 0 auto;
}

.showtimes-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.showtimes-timing {
  cursor: pointer;
}

.showtimes-date {
  display: flex;
  padding: 20px 50px;
  align-items: center;
}

.showtimes-date-leftarrow,
.showtimes-date-rightarrow {
  color: var(--text-color);
  font-size: var(--fs-h1);
  padding: 0 20px;
  cursor: pointer;
}

.showtimes-date-leftarrow:hover,
.showtimes-date-rightarrow:hover {
  color: var(--bg-color-accent);
}

.showtimes-timing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  margin: 7px;
  color: var(--bg-color);
  background-color: #ccc;
  border-radius: 15px;
  border: none;
}

.showtimes-timing:hover {
  background-color: #21325e;
  color: var(--text-color);
  border: 1px solid var(--bg-color-accent);
}

.showtimes-date-2 {
  border-left: none;
  border-right: none;
}

.selected {
  background-color: var(--bg-color-accent);
  color: var(--bg-color);
}

.showtimes-halls {
  color: var(--text-color);
}

.showtimes-halls-heading {
  padding: 20px 0;
}

.showtimes-halls-heading-text {
  padding: 10px 0;
  text-transform: uppercase;
}

.showtimes-halls-content {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px 0;
}

.showtimes-poster-container img {
  width: 100%;
}

.showtimes-shows-form {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
}

.showtimes-shows-details {
  padding: 0 50px;
}

.showtimes-shows-title {
  border: none;
  background: none;
  font-size: var(--fs-h1);
  font-family: var(--ff-prm);
  /* text-align: center; */
  color: var(--text-color);
  font-weight: bold;
}

.showtimes-shows-class-and-duration {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.showtimes-shows-classification {
  background-color: var(--bg-color-accent);
  padding: 5px;
  font-size: var(--fs-classification);
  border-radius: 5px;
  color: var(--bg-color);
}

.showtimes-shows-duration {
  padding: 0 20px;
}

.showtimes-shows-timing {
  padding: 10px 20px;
}

.showtimes-shows-selection:hover {
  background-color: #21325e;
  color: var(--text-color);
  cursor: pointer;
}

.showtimes-shows-selection {
  background-color: var(--bg-color-accent);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--bg-color);
  text-decoration: none;
  font-size: var(--fs-p);
  font-family: var(--ff-prm);
  /* text-align: center; */
}

/* .sticky {
  position: sticky;
  top: 0;
  width: 100%;
} */
